<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Corsair_Effects_Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Corsair_Effects_Engine.Properties.Settings>
            <setting name="KeyboardModel" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyboardLayout" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="MouseModel" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>0: Default</value>
            </setting>
            <setting name="ForegroundEffect" serializeAs="String">
                <value>Spectrograph</value>
            </setting>
            <setting name="BackgroundEffect" serializeAs="String">
                <value>Rainbow</value>
            </setting>
            <setting name="StaticProfileName" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ForegroundEffectEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundEffectEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StaticProfileEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioOutputDevice" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="AudioInputDevice" serializeAs="String">
                <value>Headphones (Realtek High Definition Audio)</value>
            </setting>
            <setting name="OptMinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptMinimizeOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opt16MColours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptLiveKeyboardPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptWarnIfCueRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptLaunchCueOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptRestoreLightingOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptCuePath" serializeAs="String">
                <value />
            </setting>
            <setting name="OptStartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptAudioFromInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptAudioFromOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyboardHID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseHID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForegroundRandomLightsStyle" serializeAs="String">
                <value>Fade</value>
            </setting>
            <setting name="OptFrameDelay" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ForegroundRandomLightsStartType" serializeAs="String">
                <value>Random Colour</value>
            </setting>
            <setting name="ForegroundRandomLightsEndType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ForegroundRandomLightsColorStartLower" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ForegroundRandomLightsColorStartUpper" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ForegroundRandomLightsColorEndLower" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ForegroundRandomLightsColorEndUpper" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ForegroundRandomLightsFadeSolidDuration" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ForegroundRandomLightsFadeTotalDuration" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="ForegroundRandomLightsSwitchColorStart" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ForegroundRandomLightsSwitchColorEnd" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ForegroundRandomLightsSwitchDuration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="BackgroundBrightness" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="BackgroundRepeatTime" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="OptInvertM1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundRainbowDirection" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ForegroundReactiveStartType" serializeAs="String">
                <value>Defined Colour</value>
            </setting>
            <setting name="ForegroundReactiveEndType" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ForegroundReactiveColorStartLower" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ForegroundReactiveColorEndLower" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ForegroundReactiveColorStartUpper" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ForegroundReactiveColorEndUpper" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ForegroundReactiveFadeSolidDuration" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ForegroundReactiveFadeTotalDuration" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="ForegroundReactiveSwitchSolidDuration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ForegroundReactiveSwitchColorStart" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="ForegroundReactiveSwitchColorEnd" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ForegroundReactiveStyle" serializeAs="String">
                <value>Fade</value>
            </setting>
            <setting name="OptAccentColor" serializeAs="String">
                <value>#FFFF0080</value>
            </setting>
            <setting name="ForegroundHeatmapColorMost" serializeAs="String">
                <value>#FFFF00FF</value>
            </setting>
            <setting name="ForegroundHeatmapColorLeast" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="BackgroundSolidColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ForegroundSpectroOldVolume" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ForegroundSpectroColor" serializeAs="String">
                <value>#FFFF0080</value>
            </setting>
            <setting name="ForegroundSpectroStyle" serializeAs="String">
                <value>Solid</value>
            </setting>
            <setting name="BackgroundBreatheStepOne" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="BackgroundBreatheStepTwo" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="BackgroundBreatheTransition" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="BackgroundBreatheStepOneColor" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="BackgroundBreatheStepTwoColor" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="BackgroundImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundImageRectangle" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="FftAmplitudeMax" serializeAs="String">
                <value>-20</value>
            </setting>
            <setting name="FftAmplitudeMin" serializeAs="String">
                <value>-60</value>
            </setting>
            <setting name="FftBinsPerPoint" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FftSize" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="FftWindowingMode" serializeAs="String">
                <value>Hann</value>
            </setting>
            <setting name="FftFrequencyMax" serializeAs="String">
                <value>17000</value>
            </setting>
            <setting name="FftFrequencyMin" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FftUseLogX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FftUseLogY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OptUseSdk" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FftBoostHighFrequencies" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FftUseFrequencyBoost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ForegroundSpectroColorGradient" serializeAs="String">
                <value>#FF0000FF</value>
            </setting>
            <setting name="FftRainbowBrightness" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="SpectroRainbowDirection" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="OptAudioUseDefaultOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptAudioUseDefaultInput" serializeAs="String">
                <value>False</value>
            </setting>
        </Corsair_Effects_Engine.Properties.Settings>
    </userSettings>
</configuration>
